div.stats {
  background-color: #fff;
  width: 506px;
  height: 332px;
}
div.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 3rem;
}
div.container button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 0.75rem 1.75rem;
}
